<style>

  .review {
    background-color: #f1f1f1;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    color:black;
  }

  .review h3 {
    margin-bottom: 5px;
  }

  .review p {
    margin: 0;
  }

  .edit-link {
    display: inline-block;
    margin-top: 10px;
  }
</style>

<div class="review">
    <b>User ID: <%= review.user.name %></b>
    <p>Rating: <%= review.rating %></p>
    <p>Feedback: <%= review.feedback.present? ? review.feedback : 'Not Provided' %></p>
</div>